<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
  <package id="Controls4Industry" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin" version="3.0.0-dev000851" targetFramework="net461" />
  <package id="Marvin.ClientFramework" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin.ClientFramework.Configurator" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin.ClientFramework.Kernel" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin.ClientFramework.UI.DefaultShell" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin.ClientFramework.UserManagement" version="3.0.0-dev000469" targetFramework="net461" />
  <package id="Marvin.Container" version="3.0.0-dev000851" targetFramework="net461" />
  <package id="Marvin.Tools.Wcf" version="3.0.0-dev000851" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>