@use '@angular/material' as mat;
@use "@moryx/ngx-web-framework/styles/variables" as *;

:host {
  flex: 1 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $mat-background-light;
  height: 100%;
  touch-action: auto;
  display: block;
}

.tree-node {
  cursor: pointer !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  @include mat.tree-overrides((node-min-height: 40px));

  &:hover {
    background-color: $light-background-hover;
  }

  .node-label {
    flex: 1 1;
  }
}
