@let product = this.currentProduct();

@if (product) {
  @if (editMode()) {
    <mat-form-field class="form-field" appearance="outline" require>
      <mat-label>{{
        TranslationConstants.SHARED.NAME | translate
      }}</mat-label>
      <input
        matInput
        aria-label="Product Name"
        [ngModel]="product.name"
        (ngModelChange)="updateCurrentProduct({ name: $event })"
        />
      <span matTextPrefix>{{ identifier() }}&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>{{
        TranslationConstants.SHARED.STATE | translate
      }}</mat-label>
      <mat-select
        [ngModel]="product.state"
        (ngModelChange)="updateCurrentProduct({ state: $event })"
        >
        @for (state of possibleStates(); track state) {
          <mat-option [value]="state">
            {{ state }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  } @else {
    <h2 class="header-information-title">{{ identifier() }}&nbsp;{{ product.name }}</h2>
    <p class="header-subtitle">{{ product.state }}</p>
  }
}
