  :host {
    background: color-mix(in srgb, var(--mat-sys-surface) 30%, transparent);
    backdrop-filter: blur(2.5px);
    border-radius: var(--mat-sys-corner-small);
    border: 1px solid var(--mat-sys-outline-variant);
    min-height: 54px;
    padding: 12px;
    margin: 0 8px 8px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .property-container {
    display: flex;
    flex-direction: column;
  }

  .property-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .property-label {
    font: var(--mat-sys-label-medium);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--mat-sys-on-surface-variant);
    margin-top: 0 !important;
  }

  .property-unit {
    font: var(--mat-sys-body-small);
    text-align: right;
  }

  .property-value {
    font: var(--mat-sys-headline-small);
    color: var(--mat-sys-on-surface-variant);
    text-align: right;
    overflow-wrap: break-word;
    min-width: 0;
  }
