<h2 mat-dialog-title>{{ translationConstants.CONFIRM_DELETE_DIALOG.TITLE| translate}}</h2>
<mat-dialog-content>{{ translationConstants.CONFIRM_DELETE_DIALOG.MESSAGE| translate}}</mat-dialog-content>
<mat-dialog-actions>
  <button matButton [mat-dialog-close]="false" type="button" cdkFocusInitial>{{ translationConstants.CONFIRM_DELETE_DIALOG.CANCEL| translate}}</button>
  <button matButton [mat-dialog-close]="true" type="button">{{ translationConstants.CONFIRM_DELETE_DIALOG.DELETE| translate}}</button>
</mat-dialog-actions>