.right-region {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  position: relative;
  z-index: 1;
  border-left: 1px solid var(--mat-sys-outline-variant);
  box-shadow: -1px 0 2px color-mix(in srgb, var(--mat-sys-shadow) 6%, transparent);
}
