<mat-form-field appearance="outline">
  <mat-label>{{
    TranslationConstants.SHARED.IDENTIFIER | translate
  }}</mat-label>
  <input
    matInput
    aria-label="Recipe Name"
    [disabled]="edit() === false"
    [(ngModel)]="recipe().name"
    />
</mat-form-field>
@if (hasWorkplans()) {
  <mat-form-field appearance="outline">
    <mat-label>{{ TranslationConstants.SHARED.WORKPLAN | translate }}</mat-label>
    <mat-select
      [(ngModel)]="recipe().workplanModel"
      [disabled]="edit() === false"
      [compareWith]="byWorkplanId"
      required
      >
      @for (workplan of possibleWorkplans(); track workplan) {
        <mat-option [value]="workplan">
          {{ workplan.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}
<mat-form-field appearance="outline">
  <mat-label>{{
    TranslationConstants.SHARED.CLASSIFICATION | translate
  }}</mat-label>
  <mat-select [(ngModel)]="recipe().classification" [disabled]="edit() === false" [formControl]="recipeControl" restrictKeywordValidator="Unset">
    @for (classification of recipeClassifications(); track classification) {
      <mat-option
        [value]="classification"
        >
        {{ classification }}
      </mat-option>
    }
  </mat-select>
  @if (recipeControl.hasError('invalidValue')) {
    <mat-error>{{TranslationConstants.DETAILS.RECIPS.CHOOSE_OTHER | translate}}</mat-error>
  }
  @if (recipeControl.hasError('invalidValue')) {
    <mat-hint>{{recipeControl.value !== 'Unset' ? recipeControl.value : TranslationConstants.DETAILS.RECIPS.CHOOSE_OTHER | translate }}</mat-hint>
  }
</mat-form-field>
