<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Marvin" version="3.0.0-dev001612" targetFramework="net461" />
  <package id="Marvin.Runtime" version="3.0.0-dev001612" targetFramework="net461" />
  <package id="Marvin.Tools.Wcf" version="3.0.0-dev001612" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>