@import "./Theme";

.form-control {
    height: 1.95rem !important;
}

.form-control,
.form-select {
    border: 1px solid #ced4da;
    color: #495057;
}

.log-menu {
    padding: 0px;
}

.log-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font-size: 1em;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    background-color: transparent;
    width: 20px;
    color: transparent;
    cursor: pointer;
}

.log-select option {
    color: black;
    font-size: .85em;
}