@import "Theme";

.menu-item {
    cursor: pointer;
    line-height: 1.15;
    font-size: 11pt;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: .75rem 1.25rem;
}

.menu-item:hover {
    background: $gray-200;
}

.menu-item a {
    color: $black;
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: none;
}

.menu-item.active {
    background: $gray-300;
    border-color: $gray-300;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}