<h2 mat-dialog-title> {{ TranslationConstants.SKILL_NEW_DIALOG.TITLE | translate  }} </h2>
<mat-dialog-content >
  <section class="tw:w-full">
    <mat-form-field class="tw:w-full tw:mt-2" appearance="outline">
      <mat-label>{{ TranslationConstants.SKILL_NEW_DIALOG.SKILL_TYPE | translate  }}</mat-label>
      <mat-select required [(ngModel)]="data.typeId">
        <mat-option *ngFor="let skillType of skillTypes()" [value]="skillType.id">
          {{ skillType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tw:w-full" appearance="outline">
      <mat-label>{{ TranslationConstants.OPERATOR_DETAILS.OBTAINED_ON | translate  }}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.obtainedOn">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="tw:flex tw:justify-end tw:w-full">
    <button mat-button  (click)="cancel()">{{ TranslationConstants.SKILL_NEW_DIALOG.CANCEL| translate  }}</button>
    <button mat-flat-button cdkFocusInitial (click)="save()">{{ TranslationConstants.SKILL_NEW_DIALOG.SAVE| translate  }}</button>
  </div>
</mat-dialog-actions>
