/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; }

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch{
    border-right: 0px !important;
}
