@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration
@using Moryx.Modules

@attribute [LauncherPlugin("Hydra")]
<div style="background: black; width: 100px; height: 100vh;">
    <h1 style="color: white;">This is Hydra plugin area, this is a test</h1>
</div>
