@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration
@using Moryx.Configuration
@using Moryx.Launcher

<div style="background: black; width: 100px; font-color: white;">
    <h1>This is region plugin area</h1>
</div>