<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar class="container-icon">
            {{ container().type.icon }}
        </mat-icon>
        <mat-card-title>{{ container().material }}</mat-card-title>
        <mat-card-subtitle>{{ container().name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <section>
            <label>{{ container().quantity+'x '+container().unit }}</label>
            <div class="card-chips">
                <mat-chip-set aria-label="References">
                    <mat-chip> {{ translationConstants.CARD.STATE | translate }}: {{container().state}}</mat-chip>
                    @for (reference of container().references; track $index)
                    {
                    <mat-chip>{{ materialReferenceToString(reference) }}</mat-chip>
                    }
                </mat-chip-set>
            </div>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="preAdvice()">{{ translationConstants.CARD.PRE_ADVICE | translate }}</button>
        <button mat-button (click)="onDelete()" >{{ translationConstants.CARD.DELETE | translate }}</button>
    </mat-card-actions>
</mat-card>