<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductInteraction" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ProductInteraction" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductInteraction"
                contract="InteractionSvc.IProductInteraction" name="BasicHttpBinding_IProductInteraction" />
        </client>
    </system.serviceModel>
</configuration>