@if (resource()) {
  <div class="resource-details">
    <app-details-header
      class="resource-details-header"
      [resource]="resource()"
      [editMode]="editService.edit"
      >
    </app-details-header>
    <nav mat-tab-nav-bar class="resource-details-navigation" [tabPanel]="tabPanel">
      @if (resource().properties !== undefined) {
        <a
          mat-tab-link
          [active]="activeLink() === 1"
          [routerLink]="['/details/', resource().id, 'properties']"
          >{{ TranslationConstants.DETAILS.PROPERTIES | translate }}</a
          >
        }
        @if (resource().references !== undefined) {
          <a
            mat-tab-link
            [active]="activeLink() === 2"
            [routerLink]="['/details/', resource().id, 'references']"
            >{{ TranslationConstants.DETAILS.REFERENCES | translate }}</a
            >
          }
          @if (resource().methods && (resource().methods ?? []).length > 0) {
            <a
              mat-tab-link
              [active]="activeLink() === 3"
              [routerLink]="['/details/', resource().id, 'methods']"
              >{{ TranslationConstants.DETAILS.METHODS | translate }}</a
              >
            }
          </nav>
          <mat-tab-nav-panel class="resource-details-information" #tabPanel>
            <router-outlet></router-outlet>
          </mat-tab-nav-panel>
        </div>
      }
