<div *ngIf="resource" class="resource-details">
  <app-details-header
    class="resource-details-header"
    [resource]="resource()"
    [editMode]="editService.edit"
  >
  </app-details-header>
  <nav mat-tab-nav-bar class="resource-details-navigation" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      [active]="activeLink() === 1"
      *ngIf="resource()?.properties !== undefined"
      [routerLink]="['/details/', resource().id, 'properties']"
      >{{ TranslationConstants.DETAILS.PROPERTIES | translate }}</a
    >
    <a
      mat-tab-link
      [active]="activeLink() === 2"
      *ngIf="resource()?.references !== undefined"
      [routerLink]="['/details/', resource().id, 'references']"
      >{{ TranslationConstants.DETAILS.REFERENCES | translate }}</a
    >
    <a
      mat-tab-link
      [active]="activeLink() === 3"
      *ngIf="resource().methods && (resource().methods ?? []).length > 0"
      [routerLink]="['/details/', resource().id, 'methods']"
      >{{ TranslationConstants.DETAILS.METHODS | translate }}</a
    >
  </nav>

  <mat-tab-nav-panel class="resource-details-information" #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
