<mat-nav-list>
  @for (moduleItem of modules(); track moduleItem.route) {
    <div class="nav-item-wrapper">
      <a mat-list-item [href]="resolveHref(moduleItem)" [title]="moduleItem.description" [class.active]="moduleItem.route === activeRoute()">
        <mat-icon matListItemIcon>{{ moduleItem.icon }}</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>{{ moduleItem.title }}</span>
        }
      </a>
      @if (moduleItem.route !== activeRoute() && asWeb(moduleItem)?.eventStream; as eventStream) {
        <app-notification-badge [eventStream]="eventStream"></app-notification-badge>
      }
    </div>
  } @empty {
    <mat-list-item>{{ TranslationConstants.NAVIGATION.NO_ITEMS | translate }}</mat-list-item>
  }
</mat-nav-list>
