@let canSave = backgroundChangeService.canSaveBackground();

<div mat-dialog-title>
  <span>{{ TranslationConstants.CHANGE_BACKGROUND_DIALOG.BACKGROUND_IMAGE | translate }}</span>
</div>
<div mat-dialog-content>
  <div>
    @if (canSave) {
      <mat-form-field class="background-input"
        appearance="outline">
        <mat-label>{{ TranslationConstants.CHANGE_BACKGROUND_DIALOG.BACKGROUND_URL | translate }}</mat-label>
        <input
          matInput
          [placeholder]="TranslationConstants.CHANGE_BACKGROUND_DIALOG.BACKGROUND_URL | translate"
          [formControl]="backgroundUrlFormControl"
          [errorStateMatcher]="matcher"
          cdkFocusInitial />
        @if (backgroundUrlFormControl.hasError('required')) {
          <mat-error>{{ TranslationConstants.CHANGE_BACKGROUND_DIALOG.ENTER_URL | translate }}</mat-error>
        }
      </mat-form-field>
    }
    @else {
      <p>
        {{ TranslationConstants.CHANGE_BACKGROUND_DIALOG.NO_MANUFACTURING_RESOURCE| translate }}
      </p>
    }
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">{{ TranslationConstants.SHARED.CANCEL | translate }}</button>
  <button
    mat-flat-button
       type="button"
    (click)="onSave()"
    [disabled]="backgroundUrlFormControl.invalid || !canSave">
    {{ TranslationConstants.SHARED.SAVE | translate }}
  </button>
</div>
