@import "Theme";
@import "node_modules/bootstrap/scss/bootstrap";
@import "Button";
@import "Header";
@import "Form";
@import "Menu";

/*
 * General
 */
.selectable {
  cursor: pointer;
}

/*
 * Main Body
 */
#pxclogo {
  height: 40px;
  margin-top: 10px;
  background: transparent;
}

#clock {
  margin-top: 10px;
  height:40px;
  font-weight: bold;
}

body {
  padding-top: 0px;
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

svg.icon {
  height: 20px;
}

svg.icon-white {
  height: 20px;
  path {
    fill: #ffffff;
  }
}

svg.icon-green {
  height: 20px;
  path {
    fill: green;
  }
}

svg.icon-red {
  height: 20px;
  path {
    fill: red;
  }
}

.right-space {
  margin-right: 5px;
}

.up-space {
  margin-top: 5px;
}

.up-space-lg {
  margin-top: 10px;
}

.up-space-very-lg {
  margin-top: 20px;
}

.down-space {
  margin-bottom: 5px;
}

.down-space-lg {
  margin-bottom: 10px;
}

.down-space-very-lg {
  margin-bottom: 20px;
}

.bg-success {
  background: $green !important;
}

.badge-success {
  color: #fff;
  background-color: $green;
}

.center-text {
  text-align: -webkit-center;
}
/*
 * Navigation
 */
 .navbar {
   padding: 0px 15px 0px 15px;
   transition: 0.3s;
   overflow: hidden;
   background-color: transparent !important;
}

.navbar>ul{
  list-style: none !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.maintenance-navbar-default {
   background-color:#f8f8f8;
   border-color:#e7e7e7;
}

.maintenance-navbar-default {

  .navbar-brand {
    color: $gray-800;
  }

  .navbar-brand:hover {
    color: $gray-600;
  }

  .navbar-nav {
    height: 100%;
  }

  .navbar-nav>li {
    height: 100%;
    min-width: 120px;
    border: 1px solid $gray-200 !important;
  }

  .navbar-nav>li:hover {
    background: $gray-200;
  }

  .navbar-nav>li.active {
    background: $gray-300;
  }

  .navbar-nav>li>a {
    display: flex;
    color: $gray-800;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus {
    color: $gray-600;
    text-decoration: none;
  }

  .navbar-collapse {
    height: 50px;
  }
}

/*
 * Content Panel
 */
.maintenance-app-container {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px !important;
}

.maintenance-content {
  margin-top: 20px;
  height: 100%;
}

.component {
  border-radius: 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}
/*
 * Dashboard
 */
.modulebox-container {
  
  .modulebox {
    width: 350px;
    min-height: 150px;
    float:left;
    margin: 0px 5px 10px 5px;
  }

  a.normal {
    color: $gray-100;
  }

  a.composite {
    color: $black;
  }

  .modulebox-body {
    padding: 0px 5px 0px 0px;
  }
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.float-right {
  float: right;
}

/*
 * Config Editor
 */
 .config-editor-header {
   padding: 2px 0px 2px 0px;
   margin: 0px;
   border-style: solid;
   border-width: 1px 0px 2px 0px;
   border-color: lightgray;
   font-weight: bold;
 }

.config-editor {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  
  .actionButton {
    @media (min-width: 768px) {
      min-width: 120px;
    }
    min-width: auto;
  }
  
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .entry-row {
    padding: 5px 0px 5px 0px;
    align-items: "center";
  }
  
  .table-row {
    align-items: "center";

    &:nth-child(even){
      background-color: #f2f2f2;
    }
    
    &:nth-child(odd){
      background-color: white;
    }
  }
  
  .name-column {
    padding: 10px 0px 10px 10px;
    
    .property-description {
      color: darkgray;
      margin: 0 0 0;
    }
  }
  
  .property-column {
    padding: 10px 0px 10px 10px;
  }
}

.expanded-collection {
  .collection-entry {
    &:nth-child(even){
      background-color: white;
    }
    
    &:nth-child(odd){
      background-color: #edf0f3;
    }
  }
}
.col-name {
  padding: 15px 0px 15px 15px;
  float: left;
}
.col-btn {
  padding: 15px 15px 15px 0px;
  float: right;
}

/*
 * General module view
 */
.btn-group.module-btn-group {
  .btn {
    min-width: 70px;
    @media(min-width: 375px) {
      min-width: 100px;
    }
  }
}


/*
 * Sidebar
 */
.sidebar-panel {
  .panel-body {
    padding: 0px;
  }
  
  .nav-wrapper {
    position: relative;
    min-height: 50px;
  }
  
  .navlist {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navitem > a, .nav-subitem {
    position: relative;
    display: block;
    cursor: pointer;

    &:hover, &.active {
      background-color: #eee;
    }
    
    .navdropdown {
      padding-left: 20px;
    }
  }  
  
  .navitem>a, .nav-subitem>a{
    //color: $linkColor;
    position: relative;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
  }
}

/*
 * Modals
 */
 .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*
 * Font
 */
.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-disabled {
  color: gray;
}

.font-normal {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.font-smaller {
  font-size: 12px;
}

.font-smallest {
  font-size: 10px;
}

/*
 * Progress
 */
.progress {
  height: 20px;
  background: whitesmoke;
}

.progress-bar {
  background: orangered;
  color: black;
}

/*
 * Footer
 */
footer {
  text-align: left;
  font-size: 8pt;
  color: rgb(119, 119, 119);
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top: 1px solid #eee;
}

footer ul li {
  display: inline;
  padding-right: 20px;
  margin-bottom: 10px;
}

.log-modal-dialog {
  max-width: 65% !important;
}

.notification-modal-dialog {
  max-width: 90% !important;
}

/* 
 * Overwrite bootstrap styles that would otherwise
 * conflict with MORYS material styles
*/

.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

a:hover {
  text-decoration-line: none;
}
