@import "Theme";

.menu-item {
    padding: 0px 0px 0px 5px;
    cursor: pointer;
}

.menu-item:hover {
    background: $gray-200;
}

.menu-item a {
    color: $black;
}

.menu-item a:hover {
    text-decoration: none;
}