@use "../../../../styles.scss" as *;
@use '@angular/material' as mat;
:host {
  display: flex;
  width: 100%;
  max-width: 60em;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

.references {
  flex: 1 1;
  justify-self: center;
  padding: 8px;
  overflow: auto;
  @include mat.expansion-overrides((
    container-background-color: $mat-background-light,
  ));
}

.mat-column-delete {
  width: 32px;
  text-align: center;
}

.reference-targets-actions {
  display: flex;
}

.reference-targets-selector {
  flex: 1 1;
  margin: 10px;
}

.single-reference-targets-selector {
  display: flex;
}

.delete-reference:hover {
  background: $light-background-hover;
}

.references-loading-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.references-description{
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
