@if (references() && references().length > 0) {
  <table
    mat-table
    [dataSource]="references()"
    class="mat-elevation-z8"
    >
    <!-- Identifier Column -->
    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef>
        {{ TranslationConstants.SHARED.IDENTIFIER | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.identifier }}</td>
    </ng-container>
    <!-- Revision Column -->
    <ng-container matColumnDef="revision">
      <th mat-header-cell *matHeaderCellDef>
        {{ TranslationConstants.SHARED.REVISION | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.revision }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ TranslationConstants.SHARED.NAME | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <!-- Table Description Column -->
    <ng-container matColumnDef="table-description">
      <th class="table-description-header" mat-header-cell *matHeaderCellDef colspan="3">{{ TranslationConstants.DETAILS.REFS.TITLE | translate }}</th>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="['identifier', 'revision', 'name']"
      class="first-header-row"
    ></tr>
    <tr
      mat-header-row
      *matHeaderRowDef="['table-description']"
      class="table-description-header-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['identifier', 'revision', 'name']"
    ></tr>
  </table>
} @else {
  @if (isLoading()) {
    <div class="product-references-loading">
      <mat-spinner></mat-spinner>
    </div>
  }
  @if (!references().length) {
    <empty-state header="{{ TranslationConstants.DETAILS.REFS.NO_REF_HEADER | translate }}" message="{{ TranslationConstants.DETAILS.REFS.NO_REF | translate }}"></empty-state>
  }
}

