.full-width {
  width: 100%;
}

.suffix-icon {
  margin-right: 6px;
}

.dialog-title {
  margin-left: -5px;
}

.intermediate-header {
  margin-top: 0px;
}

.dialog-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.dialog-context {
    margin-bottom: 18px;
}


