.full-width {
  width: 100%;
}

.top-spaced {
  margin-top: 12px;
}

.suffix-icon {
  margin-right: 6px;
}

.dialog-title {
  margin-left: -5px;
}

.intermediate-header {
  margin-top: 0px;
}

.dialog-container {
  width: 100%;
}

.dialog-context {
  margin-bottom: 8px;
}


