:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.overlay-slot {
    display: none;
}

.floating-bar-button {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.topbar-slot {
    width: 100%;
}

.content-area {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-area--row {
    flex-direction: row;
}

.content-area--col {
    flex-direction: column;
}

.leftbar-slot {
    width: auto;
    height: 100%;
    border-right: 1px solid #e5e7eb;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.1);
}

.main-slot {
    flex: 1;
    overflow: auto;
    height: auto;
}

.bottombar-slot {
    width: 100%;
    height: auto;
    border-top: 1px solid #e5e7eb;
}
