:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-region {
  flex: 0 0 auto;
  margin-top: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

