@model Moryx.Identity.AccessManagement.Models.UserLoginModel
@{
    ViewData["Title"] = "Login";
}
    
<div class="tw-flex tw-justify-center">
    <div class="tw-w-full md:tw-w-1/2 lg:tw-w-1/3">
        <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="tw-bg-white tw-shadow-md tw-rounded tw-px-8 tw-pt-6 tw-pb-8 tw-mb-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="tw-mb-4">
            <label asp-for="UserName" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2">User</label>
            <div class="tw-relative">
                <input asp-for="UserName" class="form-control" required/>
                <span class="tw-absolute tw-left-0 tw-top-0 tw-p-3">
                        <span class="material-symbols-outlined">person</span>
                </span>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="tw-mb-4">
            <label asp-for="Password" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2"></label>
            <div class="tw-relative">
                <input asp-for="Password" type="password" class="form-control" placeholder="**********" required/>
                <span class="tw-absolute tw-left-0 tw-top-0 tw-p-3">
                    <span class="material-symbols-outlined">lock</span>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="tw-mb-4">
            <input type="submit" value="Login" class="btn-primary tw-w-full" />
        </div>
        <div class="tw-mb-4">
            <a asp-controller="Login" asp-action="ResetView" asp-route-returnUrl="@ViewBag.ReturnUrl">Forgot Password?</a>
        </div>
        @if (ViewBag.ShowLoginViaMicrosoft)
        {
            <div class="tw-mb-4">
                <a class="btn-primary tw-block tw-text-center"
                   asp-controller="EntraIdAuth"
                   asp-action="SignInViaMicrosoft"
                   asp-all-route-data="@(new Dictionary<string, string> { { "redirectUrl", "/" } })">
                    Login with Microsoft
                </a>
            </div>
        }
    </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
