@use "@angular/material" as mat;
mat-form-field {
  width: 100%;
}

.create-dialog-operation-container {
  place-content: space-between;
}

.create-dialog-operation-title {
  display: inline-block;
}

.create-dialog-operation-button {
  width: 100%;
  margin-top: -6px;
  height: 35px;
  mat-icon{
    margin-right: -8px;
  }
}

.create-dialog-operation-list-container {
  padding: 0px;
}

.product-without-recipe-hint {
  font-size: 12px;
  padding-left: 5px;
}

.operation-mat-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center ;
}

.operation-list-item {
  padding: 0 !important;
  @include mat.list-overrides((
     list-item-two-line-container-height: 60px,
));
}