<header class="header">  
  <nav class="navbar sticky-top navbar-expand-lg bg-primary bd-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{ site.baseurl }}/assets/images/moryx_small.png" alt="Bootstrap" width="48" height="48">
      </a>
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
          {% for link in site.navigation %}
          
          {% if link.url contains '://' %}
          {% assign url = link.url %}
          {% else %}
          {% assign url = link.url | relative_url %}
          {% endif %}
          
          <li class="nav-link">
            <a class="nav-link" href="{{ url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>