@use "@moryx/ngx-web-framework/styles/theme" as *; 
@use "@moryx/ngx-web-framework/styles/variables" as *; 

html, body { height: 100%; font-family: Roboto;}
body { margin: 0; overflow: hidden;
    background-color: $mat-background;
}