@use "@moryx/ngx-web-framework/styles/theme" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}

app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.mat-card-header-text {
  overflow: hidden;
}

.ng2-pdf-viewer-container {
  overflow-x: hidden !important;
}