<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="2.0.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Marvin" version="3.0.0-dev003379" targetFramework="net461" />
  <package id="Marvin.Model" version="3.0.0-dev003379" targetFramework="net461" />
  <package id="Marvin.Model.InMemory" version="3.0.0-dev003379" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NMemory" version="3.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
</packages>