<h2 mat-dialog-title>{{ TranslationConstants.EDIT.TITLE | translate }}</h2>

<div mat-dialog-content class="edit-dashboard">
  <mat-form-field appearance="outline">
    <mat-label> {{ TranslationConstants.SHARED.NAME | translate }} </mat-label>
    <input matInput [(ngModel)]="result().name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> {{ TranslationConstants.SHARED.URL | translate }} </mat-label>
    <input matInput [(ngModel)]="result().url" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button type="submit" (click)="onClose()">
    {{ TranslationConstants.SHARED.CANCEL | translate }}
  </button>
  <button
    mat-flat-button
    type="submit"
    [disabled]="!result().name || !result().url"
    [mat-dialog-close]="result()"
  >
    {{ TranslationConstants.EDIT.EDIT | translate }}
  </button>
</div>
