<div *ngIf="displayedInstruction(); else noActiveInstruction" class="scaling" (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()">
  <mat-card class="container">
    <div class="content">
      <media-contents *ngIf="mediaItemsContent().length" [displayedContents]="mediaItemsContent()"
        class="media-instructions-container">
      </media-contents>

      <button *ngIf="(textItems().length || inputs()) && mediaItemsContent().length" class="fullscreen hover-button" mat-mini-fab
        aria-label="fullscreen" (click)="toggleFullscreen()">
        <span class="material-symbols-outlined">fullscreen</span>
      </button>

      <mat-divider vertical *ngIf="textItems().length && mediaItems().length && !instructionStateService.getFullscreenState()"></mat-divider>

      <div class="text-instruction-container" *ngIf="textItems().length && !instructionStateService.getFullscreenState()">
        <mat-card-title class="card-title">{{ displayedInstruction()?.sender }}</mat-card-title>
         <mat-card-content class="card-content">
          <div *ngFor="let item of textItems()">
            <markdown [data]="item.content"></markdown>
          </div>
        </mat-card-content>
        <div class="input-instructions" *ngIf="inputs()">
          <navigable-entry-editor [disabled]="false" [entry]="inputs()!"></navigable-entry-editor>
        </div>
      </div>
    </div>
    
    <mat-card-actions class="card-action-buttons"
      >
      <div class="carousel-buttons" *ngIf="(instructions().length > 1)">
        <button class="previous-instruction hover-button" mat-mini-fab
          aria-label="previous instruction" (click)="onSwipeRight()"
          [disabled]="activeInstructionIndex() <= 0">
          <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
        </button>
    
        <span class="instruction-counter">{{activeInstructionIndex()+1}}/{{instructions().length}}</span>
  
        <button  mat-mini-fab class="previous-instruction hover-button" aria-label="next instruction"
          (click)="onSwipeLeft()" [disabled]="activeInstructionIndex() >= instructions().length -1">
          <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
        </button>
      </div>  

      <div class="result-actions">
        @if(displayedInstruction()?.type === InstructionType.Execute){
          <button  *ngFor="let result of displayedInstruction()?.results" mat-stroked-button 
          type="button" (click)="onSelectResult(result)">
          {{ result.displayValue }}
        </button>
        }
      </div>
    </mat-card-actions>  
  </mat-card>
</div>

<ng-template #noActiveInstruction>
  <empty-state header="{{ TranslationConstants.WORKER_INSTRUCTIONS.EMPTY_STATE_HEADER | translate }}"
    message="{{ TranslationConstants.WORKER_INSTRUCTIONS.EMPTY_STATE_TEXT | translate }}" icon="bedtime"></empty-state>
</ng-template>