@page
@using Moryx.Runtime.Configuration
@using Moryx.Runtime.Modules
@model IndexModel
@inject IRuntimeConfigManager configManager
@inject IEnumerable<IServerModule> modules
@{
    ViewData["Title"] = "Home page";

    //var config = configManager.GetConfiguration<ModuleConfig>();
}

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
@foreach(var module in modules)
{
    <li>@(module.Name)</li>
}
</ul>

<div>
     <p>Foo</p>
</div>
