@page
@using Moryx.Runtime.Configuration
@using Moryx.Runtime.Modules
@using Moryx.TestModule
@using Moryx.TestModule.Kestrel
@model IndexModel
@inject ITestFacade facade
@inject IRuntimeConfigManager configManager
@inject IEnumerable<IServerModule> modules
@{
    ViewData["Title"] = "Home page";

    var config = configManager.GetConfiguration<ModuleConfig>();
}

<div class="text-center">
    <h1 class="display-4">Welcome with @(facade.Bla)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
@foreach(var module in modules)
{
    <li>@(module.Name)</li>
}
</ul>

<div>
     <p>@(config.ConfigState)</p>
</div>
