@for (log of logMessages(); track log) {
  <mat-expansion-panel
    class="mat-elevation-z0 log-line"
    [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="log-time light-text">{{
          log.timeStamp | date: 'dd.LL.YYYY HH:mm:ss'
        }}</span>
        <span>&nbsp;</span>
        <div class="log-level-indicator" [ngClass]="getColor(log.logLevel)">
          <span class="log-level">{{ log.logLevel }}</span>
        </div>
      </mat-panel-title>
      <mat-panel-description class="no-wrap"> {{log.message}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="light-text wrap-lines" [innerText]="log.message"></p>
    <p>{{ log.exception }}</p>
  </mat-expansion-panel>
}
<div
  class="message-list-status light-text"
  [style.display]="isLoading() ? 'flex' : 'none'">
  {{ TranslationConstants.OPERATIONS.P_LIST.LOADING | translate }}
</div>
<div
  class="message-list-status light-text"
  [style.display]="notification() !== undefined ? 'flex' : 'none'">
  {{ notification() }}
</div>
