<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MaRVIN" value="http://nts-eu-jenk02.europe.phoenixcontact.com:5588/nuget/MaRVIN/" />
    <add key="NugetProxy" value="http://dockerregistry.europe.phoenixcontact.com/repository/nuget-proxy/" />
  </packageSources>
</configuration>