<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Proxy" value="http://dockerregistry.europe.phoenixcontact.com/repository/nuget-proxy/" />
    <add key="3rdParty" value="http://packages-swtd.europe.phoenixcontact.com/nuget/3rdParty/" />
    <add key="MARVIN-CI" value="http://packages-swtd.europe.phoenixcontact.com/nuget/MaRVIN-CI/" />
    <add key="MARVIN" value="http://packages-swtd.europe.phoenixcontact.com/nuget/MaRVIN/" />
  </packageSources>
</configuration>