<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MaRVIN" value="http://nts-eu-jenk02.europe.phoenixcontact.com:5588/nuget/MaRVIN/" />
    <add key="MaRVIN-CI" value="http://nts-eu-jenk02.europe.phoenixcontact.com:5588/nuget/MaRVIN-CI/" />
  </packageSources>
</configuration>