@if (displayedInstruction()) {
  <div class="scroll-container" (swipeleft)="onSwipeLeft()"
    (swiperight)="onSwipeRight()">
    <div class="content">
      @if (mediaItemsContent().length) {
        <app-media-contents [displayedContents]="mediaItemsContent()"
          class="media-instructions-container" />
      }
      @if ((textItems().length || inputs()) && mediaItemsContent().length) {
        <button class="fullscreen hover-button" mat-mini-fab
          aria-label="fullscreen" (click)="toggleFullscreen()">
          <mat-icon>fullscreen</mat-icon>
        </button>
      }
      @if (textItems().length && mediaItems().length && !fullscreen()) {
        <mat-divider vertical />
      }
      @if (textItems().length && !fullscreen()) {
        <div class="text-instruction-container">
          <h2>{{ displayedInstruction()?.sender }}</h2>
          <mat-divider />
          <div class="text-content">
            @for (item of textItems(); track item) {
              <div>
                <markdown [data]="item.content" [disableSanitizer]="true" />
              </div>
            }
          </div>
          @if (inputs()) {
            <div class="input-instructions">
              <navigable-entry-editor queryParam="inputs" [disabled]="false" [entry]="inputs()!" />
            </div>
          }
        </div>
      }
    </div>
    @if (showActionBar()) {
      <app-action-bar [instructionCount]="instructions().length"
        [activeIndex]="activeInstructionIndex()" [results]="possibleInstructionResults()"
        (previous)="onSwipeRight()" (next)="onSwipeLeft()"
        (viewNewest)="viewNewest()" (selectResult)="onSelectResult($event)" />
    }
  </div>
} @else {
  <empty-state header="{{ TranslationConstants.VISUAL_INSTRUCTIONS.EMPTY_STATE_HEADER | translate }}"
    message="{{ TranslationConstants.VISUAL_INSTRUCTIONS.EMPTY_STATE_TEXT | translate }}" icon="bedtime" />
}
