@if (cellDetails()) {
  <div class="details-container">
    <div class="background-container">
      <div class="details-header">
        <div class="left-items">
          <button mat-icon-button class="picture_alternative" (click)="openCellImageDialog()">
            <mat-icon>{{cellDetails()?.iconName}} </mat-icon>
          </button>
          <h3 class="title truncate">{{cellDetails()?.name}}</h3>
        </div>
        <div class="right-items">
          <app-traffic-light></app-traffic-light>
          <!-- <button mat-icon-button class="setting-button" (click)="openConfigurationDialog()">
          <mat-icon class="material-symbols-outlined">build</mat-icon>
        </button> -->
      </div>
    </div>
    @if (cellDetails()?.propertySettings) {
      <div class="details-items-container">
        @for (property of cellDetails()?.propertySettings | keyvalue; track property) {
          <app-details-item [name] = "property.key" [value] = "property.value"></app-details-item>
        }
      </div>
    } @else {
      <span class="details-items-container">{{ TranslationConstants.CELL_DETAILS.NO_PROPERTIES | translate }}</span>
    }
  </div>
</div>
}
