---
---

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


$primary: #20A07F;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-path: "/assets/fonts/";
@import "bootstrap-icons";

.nav-link {
  color: $white;
}

@import "landing";