<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseMaintenance"/>
                <binding name="BasicHttpBinding_ILogMaintenance"/>
                <binding name="BasicHttpBinding_IModuleMaintenance"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DatabaseMaintenance" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseMaintenance" contract="DatabaseMaintenance.IDatabaseMaintenance" name="BasicHttpBinding_IDatabaseMaintenance"/>
            <endpoint address="http://localhost/LogMaintenance" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogMaintenance" contract="Logging.ILogMaintenance" name="BasicHttpBinding_ILogMaintenance"/>
            <endpoint address="http://localhost/ModuleMaintenance" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModuleMaintenance" contract="Maintenance.IModuleMaintenance" name="BasicHttpBinding_IModuleMaintenance"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
