<div class="tw:flex tw:w-full tw:h-full">
  <section role="main" class="tw:bg-white tw:w-full tw:h-full">
    <div class="tw:w-full tw:h-full tw:flex tw:flex-col tw:relative">
      <!-- floating button -->
      @if (editMode()) {
        <div class="tw:absolute tw:bottom-5 tw:right-5 tw:z-100">
          <button mat-fab color="primary" (click)="onAddSkillClick()">
            <mat-icon>
              <mat-icon>add</mat-icon>
            </mat-icon>
          </button>
        </div>
      }
      <div
        class="tw:sticky tw:flex tw:gap-2 tw:p-2 tw:items-center tw:w-full tw:border-b tw:border-b-gray-200"
        >
        <a
          mat-icon-button
          aria-label="Go back"
          [matTooltip]="
            TranslationConstants.WORKSTATION_OPERATORS.GO_BACK | translate
          "
          routerLink="/management"
          >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <span class="tw:text-lg tw:font-medium">{{
          TranslationConstants.OPERATOR_DETAILS.TITLE | translate
        }}</span>
      </div>

      <!-- form fields -->
      <div class="tw:flex tw:flex-col tw:p-2">
        @if (!editMode()) {
          <span class="tw:text-lg tw:mb-2">
            {{ operator().firstName + " " + operator().lastName }}
          </span>
        }
        @if (editMode()) {
          <div class="tw:flex tw:gap-1">
            <mat-form-field class="tw:w-full" require appearance="outline">
              <mat-label>{{
                TranslationConstants.ADD_OPERATOR_DIALOG.FIRSTNAME | translate
              }}</mat-label>
              <input
                matInput
                [(ngModel)]="operator().firstName"
                [disabled]="!editMode()"
                required="true"
                />
            </mat-form-field>
            <mat-form-field class="tw:w-full" require appearance="outline">
              <mat-label>{{
                TranslationConstants.ADD_OPERATOR_DIALOG.LASTNAME | translate
              }}</mat-label>
              <input
                matInput
                [(ngModel)]="operator().lastName"
                [disabled]="!editMode()"
                required="true"
                />
            </mat-form-field>
          </div>
        }
        <mat-form-field class="tw:w-full" appearance="outline">
          <mat-label> {{
            TranslationConstants.ADD_OPERATOR_DIALOG.PSEUDONYM | translate
          }}</mat-label>
          <input
            matInput
            [value]="operator().pseudonym"
            [disabled]="editMode() === false"
            />
        </mat-form-field>
      </div>
      <!-- skill list toolbar -->
      <div class="tw:flex tw:justify-between tw:p-2">
        <div class="tw:flex tw:flex-col">
          <span class="tw:font-bold tw:mb-2">{{
            TranslationConstants.OPERATOR_DETAILS.SKILLS| translate
          }}</span>
          <!-- <mat-button-toggle-group
          name="skillView"
          [(ngModel)]="skillView"
          aria-label="Skill View"
          >
          <mat-button-toggle value="Current">Current</mat-button-toggle>
          <mat-button-toggle value="All">Expired</mat-button-toggle>
        </mat-button-toggle-group> -->
      </div>
    </div>
    <mat-form-field class="tw:mx-2" appearance="outline">
      <input
        matInput
        (keyup)="applyFilter($event)"
        [placeholder]="TranslationConstants.OPERATOR_DETAILS.SEARCH_SKILL | translate"
        #input
        />
    </mat-form-field>

    <div class="tw:relative">
      <!-- Floating add button -->

      <!-- skill list -->
      <section class="skill-list tw:overflow-y-auto tw:px-2 tw:relative">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>{{
              TranslationConstants.OPERATOR_DETAILS.NAME | translate
            }}</th>
            <td mat-cell *matCellDef="let element">
              {{ findSkillTypeById(element.typeId)?.name }}
            </td>
          </ng-container>

          <!-- obtainedOn Column -->
          <ng-container matColumnDef="obtainedOn">
            <th mat-header-cell *matHeaderCellDef>{{
              TranslationConstants.OPERATOR_DETAILS.OBTAINED_ON | translate
            }}</th>
            <td mat-cell *matCellDef="let element">
              {{ dateToString(element.obtainedOn) }}
            </td>
          </ng-container>

          <!-- expiresOn Column -->
          <ng-container matColumnDef="expiresOn">
            <th mat-header-cell *matHeaderCellDef>{{
              TranslationConstants.OPERATOR_DETAILS.EXPIRES_ON | translate
            }}</th>
            <td mat-cell *matCellDef="let element">
              {{ dateToString(element.expiresOn) }}
            </td>
          </ng-container>

          <!-- Actions button -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="tw:flex tw:gap-2">
                <!-- <button mat-icon-button (click)="onEditSkillClick(element)">
                <mat-icon>edit</mat-icon>
              </button> -->
              <button mat-icon-button (click)="onDeleteSkillClick(element)" [disabled]="!editMode()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>
  </div>
</div>
</section>
<section role="group" class="tw:h-full tw:border-l tw:border-l-gray-200 tw:py-2" >
  <div class="tw:flex tw:flex-col tw:gap-4 tw:p-3">
    @if (editMode()) {
      <a
        mat-icon-button
        aria-label="Cancel Editing"
        [matTooltip]="
          TranslationConstants.ADD_OPERATOR_DIALOG.CANCEL | translate
        "
        matTooltipPosition="left"
        matTooltipShowDelay="500"
        type="reset"
        (click)="onStopEditing()"
        >
        <mat-icon class="material-icons-outlined">cancel</mat-icon>
      </a>
    }

    <ng-container>
      @if (!editMode()) {
        <button
          mat-icon-button
          aria-label="Start editing the selected resource"
          [matTooltip]="
            TranslationConstants.OPERATORS_MANAGEMENT.EDIT | translate
          "
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          type="button"
          (click)="onStartEditing()"
          >
          <mat-icon>edit</mat-icon>
        </button>
      }
      @if (editMode()) {
        <button
          mat-icon-button
          aria-label="Save the edited resource"
          [matTooltip]="
            TranslationConstants.ADD_OPERATOR_DIALOG.SAVE | translate
          "
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          type="submit"
          (click)="onSave()"
          >
          <mat-icon>save</mat-icon>
        </button>
      }
    </ng-container>
  </div>
</section>
</div>
