@use '@angular/material' as mat;

:host {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-container-lowest),
  ));

  mat-toolbar {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
}

.details-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-section {
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.fab-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.form-section {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.operator-name {
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.name-row {
  display: flex;
  gap: 4px;
}

.full-width {
  width: 100%;
}

.skill-toolbar {
  padding: 8px;
}

.skill-header {
  font-weight: 700;
}

.search-field {
  margin: 0 8px;
}

.table-container {
  position: relative;
}

.skill-list {
  max-height: calc(100vh - 420px);
  min-height: calc(100vh - 480px);
  overflow-y: auto;
  padding: 0 8px;
  position: relative;
}

.mat-column-actions {
  width: 200px;
}

.sidebar {
  height: 100%;
  background-color: var(--mat-sys-surface-container-lowest);
  border-left: 1px solid var(--mat-sys-outline-variant);
}

.sidebar-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}
