.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}

:host {
  display: flex;
  height: 100%;
}

slot[name="app"] {
  display: block;
  flex: 1;
  min-height: 0;
}

::slotted([slot="app"]) {
  height: 100%;
}
