@page "{*_}"

@{
    ViewData["Title"] = "IdentityError";
    ViewData["BaseRef"] = "IdentityError/";
    Layout = "_Layout";
}

<h1 style="position: absolute; top: 50%; left: 50%; color: #da1e1e; font-size: xxx-large; transform: translate(-50%, -50%); line-height: normal; text-align: center;">
    Identity server address could not be found
</h1>