<mat-accordion class="step-list" role="list" multi>
  <!-- Panel for controlflow steps like splits inputs and outputs -->
  <mat-expansion-panel role="listitem" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description class="step-category">
        <span class="step-category-header">{{ TranslationConstants.TOOLBOX.HEADER | translate }}</span>
        <mat-icon>sync_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO: Create own component -->
    <mat-card
      class="step-card"
      *ngFor="let stepRecipe of getControlFlow()"
      [draggable]="true"
      (dragstart)="handleDragStart(stepRecipe, $event)">
      <mat-card-header class="step-card-header">
        <mat-card-subtitle class="step-card-header-text">{{
          stepRecipe.name ?? (stepRecipe.type | slice: (stepRecipe.type?.lastIndexOf('.') ?? -1) + 1)
        }}</mat-card-subtitle>
        <mat-icon [inline]="true" role="complementary" aria-hidden="false" aria-label="Workplan Step Icon">
          {{ getStepIcon(stepRecipe.classification) }}</mat-icon
        >
      </mat-card-header>
    </mat-card>
  </mat-expansion-panel>

  <!-- Panel for steps executing an activity -->
  <mat-expansion-panel role="listitem" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description class="step-category">
        <span class="step-category-header">{{ TranslationConstants.TOOLBOX.STEPS | translate }}</span>
        <mat-icon>commit</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO: Create own component -->
    <mat-card
      class="step-card"
      *ngFor="let stepRecipe of getExecution()"
      [draggable]="true"
      (dragstart)="handleDragStart(stepRecipe, $event)">
      <mat-card-header class="step-card-header">
        <mat-card-subtitle class="step-card-header-text">{{
          stepRecipe.name ?? (stepRecipe.type | slice: (stepRecipe.type?.lastIndexOf('.') ?? -1) + 1)
        }}</mat-card-subtitle>
        <mat-icon [inline]="true" role="complementary" aria-hidden="false" aria-label="Workplan Step Icon">
          {{ getStepIcon(stepRecipe.classification) }}</mat-icon
        >
      </mat-card-header>
    </mat-card>
  </mat-expansion-panel>

  <!-- Panel for sub-workplans -->
  <mat-expansion-panel role="listitem" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description class="step-category">
        <span class="step-category-header">{{ TranslationConstants.TOOLBOX.SUB_HEADER | translate }}</span>
        <mat-icon class="material-icons-outlined">account_tree</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO: Create own component -->
    <mat-card
      class="step-card"
      *ngFor="let stepRecipe of getSubworkplans()"
      [draggable]="true"
      (dragstart)="handleDragStart(stepRecipe, $event)">
      <mat-card-header class="step-card-header">
        <mat-card-subtitle class="step-card-header-text">{{
          stepRecipe.name ?? (stepRecipe.type | slice: (stepRecipe.type?.lastIndexOf('.') ?? -1) + 1)
        }}</mat-card-subtitle>
        <mat-icon
          class="material-icons-outlined"
          [inline]="true"
          role="complementary"
          aria-hidden="false"
          aria-label="Sub-Workplans Icon"
          >{{ getStepIcon(stepRecipe.classification) }}</mat-icon
        >
      </mat-card-header>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
