:root {
    --primary: #33969d;
    --primary-dark: #007c84;
}

html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.mat-typography {
    font-family: "Roboto", "Arial", sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.25rem !important;
}

.mat-app-background {
    background-image: url("../assets/moryx_transparent_colored.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 100vw;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #999;
        border: 0.5px solid #f1f1f1;
    }

@keyframes move {
    0% {
        top: 0px;
    }

    100% {
        top: var(--end-notifications);
    }
}