@use 'roboto-fontface/css/roboto/roboto-fontface' as *;
@use 'material-symbols/outlined' as *;
@use '@angular/material' as mat;
@use '@moryx/ngx-web-framework/styles/theme-colors' as *;

html.dark-theme {
  @include mat.theme((
    color: (
      primary: $primary-palette,
      tertiary: $tertiary-palette,
      theme-type: dark,
    ),
    typography: Roboto
  ));
}
