<h2 mat-dialog-title>
  {{ TranslationConstants.CREATE_RECIPE_DIALOG.TITLE | translate }}
</h2>
<div mat-dialog-content class="create-recipe">
  <mat-form-field appearance="outline">
    <mat-label>{{
      TranslationConstants.CREATE_RECIPE_DIALOG.RECIPE_TYPE | translate
    }}</mat-label>
    <mat-select
      [(ngModel)]="result()!.selectedRecipe"
      (selectionChange)="onSelectedRecipeTypeChanged()"
    >
      <mat-option *ngFor="let recipe of possibleRecipes()" [value]="recipe">
        {{ recipe.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{
      TranslationConstants.CREATE_RECIPE_DIALOG.RECIPE_NAME | translate
    }}</mat-label>
    <input matInput [(ngModel)]="result()!.recipeName" />
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="hasWorkplans()">
    <mat-label>{{
      TranslationConstants.CREATE_RECIPE_DIALOG.WORKPLAN | translate
    }}</mat-label>
    <mat-select [(ngModel)]="result()!.workplanModel">
      <mat-option *ngFor="let workplan of possibleWorkplans()" [value]="workplan">
        {{ workplan.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button type="submit" color="primary" (click)="onClose()">
    {{ TranslationConstants.CREATE_RECIPE_DIALOG.CANCEL | translate }}
  </button>
  <button
    mat-flat-button
    type="submit"
    [disabled]="
      !result()!.recipeName ||
      !result()!.selectedRecipe ||
      (hasWorkplans() && !result().workplanModel)
    "
    [mat-dialog-close]="result()"
  >
    {{ TranslationConstants.CREATE_RECIPE_DIALOG.CREATE | translate }}
  </button>
</div>
