html, body { height: 100%; }
body { margin: 0; }

.shift-element-drawer-height {
  height: calc(100vh - 300px);
}

.day-assignment-drop-zone-height {
  height: calc(100vh - 400px);
}

.day-assignment-drop-zone-height.cdk-drop-list-dragging {
  background: var(--mat-sys-primary-container);
  border: 1px dashed var(--mat-sys-primary);
}

.week-assignment-drop-zone-height.cdk-drop-list-dragging {
  background: var(--mat-sys-primary-container);
  border: 1px dashed var(--mat-sys-primary);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
  border-right: 0px !important;
}
