@page
@model Moryx.Runtime.CommandCenter.Web.MyFeature.Pages.Page1Model
@using Microsoft.AspNetCore.Authorization;
@using System.ComponentModel.DataAnnotations
@using Moryx.CommandCenter.Web.Properties;
@using Moryx.Modules
@using Moryx.Runtime.Endpoints;

@{
    ViewData["Title"] = "MORYX Command Center";
    ViewData["BaseRef"] = "CommandCenter";

    Layout = "_Layout";
}

@attribute [WebModule("CommandCenter", "settings", Category = ModuleCategory.Settings), 
            Display(ResourceType = typeof(Strings), Name = "Module_Title", Description = "Module_Description"),
            Authorize(Policy = RuntimePermissions.DatabaseCanView),
            AllowAnonymous]


@section Scripts
{
  <script src="~/_content/Moryx.CommandCenter.Web/bundle.js" type="module"></script>
}

<div id="app" style="height: 100%;
                     width: 100%;
                     overflow-x: hidden;
                     padding-top: 20px;
                     padding-bottom: 20px;
                     overflow-y: auto;">
</div>
