@page
@model Moryx.Runtime.CommandCenter.Web.MyFeature.Pages.Page1Model
@using Moryx.Asp.Integration
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "MORYX Maintenance";
    ViewData["BaseRef"] = "Maintenance";

    Layout = "_Layout";
}

@attribute [WebModule("Maintenance", "settings", Category = ModuleCategory.Settings), 
            Display(Name = "Maintenance", Description = "Maintenance user interface")]

@section Scripts
{
  <script src="/_content/Moryx.CommandCenter.Web/bundle.js" type="module"></script>
}

<div id="app" style="height: 100%;
                     width: 100%;
                     overflow-x: hidden;
                     padding-top: 20px;
                     padding-bottom: 20px;
                     overflow-y: auto;">
</div>