<h2 mat-dialog-title>
  {{ TranslationConstants.ADD_RESOURCE_DIALOG.TITLE | translate }}
</h2>

<ng-container *ngIf="types; else loadingTypes">
  <mat-dialog-content class="mat-typography">
    <mat-stepper #stepper linear>
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>

      <!-- Select resource type -->
      <mat-step [completed]="resourceType">
        <ng-template matStepLabel>Type</ng-template>

        <mat-selection-list
          [multiple]="false"
          class="types-selection-list"
          (selectionChange)="onTypeSelectionChanged($event)"
        >
          @for (type of types(); track type) {
            <mat-list-option [value]="type" lines="{{ type.description ? 3 : 1 }}">
              <span matListItemTitle>{{ type.displayName ?? type.name }}</span>
              <span>{{ type.description }}</span>
            </mat-list-option>
          }
        </mat-selection-list>

        <ng-template #firstStepButtons>
          <button
            mat-button
            mat-dialog-close
            type="button"
            class="transform-to-uppercase"
          >
            {{ TranslationConstants.SHARED.CANCEL | translate }}
          </button>
          <button
            mat-flat-button
            (click)="typeSelected(stepper)"
            type="button"
            class="transform-to-uppercase"
            [disabled]="
              resourceType() === undefined || resourceType()?.creatable !== true
            "
          >
            {{ TranslationConstants.SHARED.NEXT | translate }}
          </button>
        </ng-template>
      </mat-step>
      
      <!-- Select constructor -->
      <mat-step [completed]="secondStepComplete()">
        <ng-template matStepLabel>Constructor</ng-template>

        <mat-selection-list
          *ngIf="resourceType()?.constructors?.length; else done"
          [multiple]="false"
          (selectionChange)="onCtorSelectionChanged($event)"
        >
          @for (ctor of resourceType()?.constructors; track ctor) {
          <mat-list-option [value]="ctor" lines="3">
            <span matListItemTitle>{{ ctor.displayName ?? ctor.name }}</span>
            <span>{{ ctor.description }}</span>
          </mat-list-option>
          }
        </mat-selection-list>

        <ng-template #secondStepButtons>
          <button
            mat-button
            matDialogClose
            class="transform-to-uppercase"
          >
            {{ TranslationConstants.SHARED.CANCEL | translate }}
          </button>
          <button
            mat-flat-button
            matStepperNext
            type="button"
            [disabled]="!secondStepComplete()"
            class="transform-to-uppercase"
          >
            {{ TranslationConstants.SHARED.NEXT | translate }}
          </button>
        </ng-template>
      </mat-step>

      <!-- Parameterize constructor -->
      <!-- ToDo: completed when entry editor complete -->
      <mat-step [completed]="false || (resourceType() && !resourceType()?.constructors?.length)">
        <ng-template matStepLabel>Parameters</ng-template>

        <navigable-entry-editor
          *ngIf="
            resourceType()?.constructors?.length &&
            selectedCtor()?.parameters &&
            selectedCtor()?.parameters?.subEntries?.length; else done
          "
          [entry]="selectedCtor()?.parameters!"
          [disabled]="false"
        >
        </navigable-entry-editor>

        <ng-template #lastStepButtons>
          <button
            mat-button
            mat-dialog-close
            color="primary"
            class="transform-to-uppercase"
          >
            {{ TranslationConstants.SHARED.CANCEL | translate }}
          </button>
          <button
            mat-flat-button
            [mat-dialog-close]="true"
            type="submit"
            [mat-dialog-close]="createResult()"
            class="transform-to-uppercase"
          >
            {{ TranslationConstants.SHARED.CREATE | translate }}
          </button>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>
<mat-dialog-actions>
  <ng-container *ngTemplateOutlet="stepper.selectedIndex === 0 ? firstStepButtons : (stepper.selectedIndex === 1 ? secondStepButtons : lastStepButtons) " ></ng-container>
</mat-dialog-actions>
</ng-container>

<ng-template #loadingTypes>
  <div class="types-loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #done>
  <div class="done-template">
    <mat-progress-spinner            
      [mode]="'determinate'"
      [value]="100">
    </mat-progress-spinner>

    <span class="done-check material-symbols-outlined">done</span>
  </div>
</ng-template>
