@if(this.processHolderGroups().length){
  <div class="tree-container">
    @if(loading()){
      <mat-spinner></mat-spinner>
    } @else {
      <div class="top-bar-container">
        <mat-form-field appearance="outline" class="process-holder-filter">
          <mat-label>{{  TranslationConstants.PROCESS_HOLDER_GROUPS.SEARCH | translate }}</mat-label>
          <input
            matInput
            type="text'"
            (keyup)="filter($event)"
            [(ngModel)]="filterText"
            name="filter"
            />
          @if(this.filterText().length){
            <button mat-icon-button matSuffix (click)="clear()" class="clear-button">
              <mat-icon class="search-input-icon">cancel</mat-icon>
            </button>
            }@else {
            <mat-icon matSuffix class="search-input-icon">search</mat-icon>
          }
        </mat-form-field>
        <div class="list-actions">
          <button mat-icon-button
            (click)="tree.collapseAll()"
            [matTooltip]="TranslationConstants.PROCESS_HOLDER_GROUPS.COLLAPSE_ALL | translate"
            >
            <mat-icon>compress</mat-icon>
          </button>
          <button mat-icon-button
            (click)="tree.expandAll()"
            [matTooltip]="TranslationConstants.PROCESS_HOLDER_GROUPS.EXPAND_ALL | translate"
            >
            <mat-icon>expand_all</mat-icon>
          </button>
        </div>
      </div>
      <mat-tree
        #tree
        [dataSource]="dataSource()"
        [childrenAccessor]="childrenAccessor"
        class="process-holder-tree"
        >
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodePadding
          class="tree-node"
          >
          <div class="position-container">
            <div class="position-details-name-section">
              <span class="indicator">
                @if (!node.data.isEmpty) {
                  <mat-icon>pallet</mat-icon>
                }
                @if (node.data.isEmpty) {
                  <span class="empty-box"></span>
                }
              </span>
              <div class="position-details">
                <span>{{ TranslationConstants.PROCESS_HOLDER_GROUPS.NAME | translate }} :</span>
                <strong class="process-holder-group-name" [matTooltip]="node.name">{{ node.name }}</strong>
              </div>
            </div>
            <div class="position-details">
              <span>{{ TranslationConstants.PROCESS_HOLDER_GROUPS.POSITION | translate }} :</span>
              <strong>{{ node.data.position }}</strong>
            </div>
            <div class="position-details">
              <span>{{ TranslationConstants.PROCESS_HOLDER_GROUPS.ACTIVITY | translate }} : </span>
              <strong>{{ node.data.activity }}</strong>
            </div>
            <div class="position-details">
              <span>{{ TranslationConstants.PROCESS_HOLDER_GROUPS.ORDER | translate }} :</span>
              <strong>{{ node.data.order }}</strong>
            </div>
            <div class="position-details">
              <span>{{ TranslationConstants.PROCESS_HOLDER_GROUPS.PROCESS | translate }} :</span>
              <strong>{{ node.data.process }}</strong>
            </div>
            <div class="details-actions">
              <button
                mat-icon-button
                [matTooltip]="TranslationConstants.PROCESS_HOLDER_GROUPS.RESET_POSITION | translate "
                (click)="resetPosition(node.data.id)"
                >
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          [cdkTreeNodeTypeaheadLabel]="node.name"
          class="node-with-children"
          >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            class="expand-button"
            >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>
          <div class="process-holder-group-content">
            <div class="process-holder-group-title-section">
              <div class="process-holder-group-title">
                <mat-icon
              [ngClass]="{
                active: !node.data.isEmpty,
                default: node.data.isEmpty
              }"
                  >
                  @if(node.data?.visualization?.category === visualizationCategory.ProcessHolderGroup){
                    token
                    }@else {
                    {{node.data?.visualization?.icon ?? 'token'}}
                  }
                </mat-icon>
                <span>{{ node.name }}</span>
              </div>
              <span> {{ TranslationConstants.PROCESS_HOLDER_GROUPS.POSITIONS | translate }} : {{ node.children.length }} </span>
            </div>
            <div class="process-holder-group-actions">
              @if (node.data?.visualization?.category === visualizationCategory.ProcessHolderGroup) {
                <button
                  mat-icon-button
                  (click)="resetGroup(node.data.id)"
                  [matTooltip]="TranslationConstants.PROCESS_HOLDER_GROUPS.RESET_GROUP | translate"
                  >
                  <mat-icon>refresh</mat-icon>
                </button>
              }
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>
    }
  </div>
} @else {
  <empty-state
    [header]="TranslationConstants.PROCESS_HOLDER_GROUPS.PROCESS_HOLDER_GROUP_TITLE| translate "
    icon="token"
    [message]="TranslationConstants.PROCESS_HOLDER_GROUPS.EMPTY_STATE_TEXT | translate "
  ></empty-state>
}
