@use "@moryx/ngx-web-framework/styles/colors.scss" as *; 

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.maintenance-form-container {
    height: 100%;
    width: 100%;
    max-width: 60em;
    background-color: $mat-background-light;
}