@let connectors = currentProduct()?.parts;
@let currentConnector = expandedPart();
@let currentPart = selectedPart();

@if (connectors?.length) {
  <mat-accordion class="parts">
    @for (connector of connectors; track connector.name) {
      <mat-expansion-panel
        class="parts-part"
        [expanded]="currentConnector?.name === connector.name"
        (afterCollapse)="onDeselectPartConnector(connector)"
        (opened)="onSelectPartConnector(connector)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ connector.displayName ? connector.displayName : connector.name }}</mat-panel-title>
          <mat-panel-description>{{ getConnectorPreview(connector) }}</mat-panel-description>
        </mat-expansion-panel-header>
        <!-- part is collection -->
        @if (currentConnector?.name === connector.name) {
          @if (connector.isCollection) {
            <div class="parts-part-list">
              <mat-list class="parts-part-list-list">
                @for (partElement of connector.parts; track partElement.id) {
                  <mat-list-item
                    (click)="onSelectPartElement(partElement)"
                    class="parts-part-list-list-item"
                    [ngClass]="{ 'moryx-selected': currentPart?.id == partElement.id }">
                    {{ createProductNameWithIdentity(partElement.product, true, 30) }}
                  </mat-list-item>
                }
              </mat-list>
              <app-product-parts-details class="parts-part-list-details" />
            </div>
          } @else{
            <app-product-parts-details class="parts-part-list-details" />     
          }
        }
        <mat-action-row>
          @if (connector.isCollection) {
            <button
              mat-button
              [disabled]="!isEditMode() || !currentPart"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="!isEditMode()"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.ADD | translate }}
            </button>
          } @else {
            <button
              mat-button
              [disabled]="!isEditMode() || !currentPart"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="!isEditMode()"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.REPLACE | translate }}
            </button>
          }
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
