@let connectors = currentProduct()?.parts;
@let currentConnector = expandedPart();
@let currentPart = selectedPart();

@if (connectors?.length) {
  <mat-accordion class="parts">
    @for (connector of connectors; track connector.name) {
      <mat-expansion-panel
        class="parts-part"
        [expanded]="currentConnector?.name === connector.name"
        (afterCollapse)="onDeselectPartConnector(connector)"
        (opened)="onSelectPartConnector(connector)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ connector.displayName ? connector.displayName : connector.name }}</mat-panel-title>
          <mat-panel-description>{{ getConnectorPreview(connector) }}</mat-panel-description>
        </mat-expansion-panel-header>
        <!-- part is collection -->
        @if (currentConnector?.name === connector.name) {
          @if (connector.isCollection) {
            <div class="parts-part-list">
              <mat-nav-list class="parts-part-list-list">
                @for (partElement of connector.parts; track partElement.id) {
                  <a mat-list-item
                    (click)="onSelectPartElement(partElement)"
                    class="parts-part-list-list-item"
                    [class.moryx-selected]="currentPart?.id == partElement.id">
                    <a matListItemMeta 
                      class="product-link"
                      [matTooltip]="TranslationConstants.PARTS.OPEN | translate"
                      aria-label="Go to referenced product"
                      [class.hidden]="isEditMode()"
                      (click)="$event.stopPropagation(); $event.preventDefault(); openProduct(partElement)">
                      <mat-icon>arrow_outward</mat-icon>
                    </a>
                    <span matListItemTitle>{{ partElement.product?.name }}</span>
                    <span matListItemLine>{{ partElement.product?.identifier }}-{{ partElement.product?.revision }}</span>
                </a>
                }
              </mat-nav-list>
              <app-product-parts-details class="parts-part-list-details" />
            </div>
          } @else{
            <app-product-parts-details class="parts-part-list-details" />     
          }
        }
        <mat-action-row>
          @if (connector.isCollection) {
            <button
              mat-button
              [disabled]="!isEditMode() || !currentPart"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="!isEditMode()"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.ADD | translate }}
            </button>
          } @else {
            @if (currentPart) {
              <button
                mat-button
                [disabled]="isEditMode()"
                (click)="openProduct(currentPart)"
                >
                {{ TranslationConstants.PARTS.OPEN | translate }}
              </button>
            }
            <button
              mat-button
              [disabled]="!isEditMode() || !currentPart"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="!isEditMode()"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.REPLACE | translate }}
            </button>
          }
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
