<mat-accordion *ngIf="currentProduct()?.parts?.length" class="parts">
  <mat-expansion-panel
    class="parts-part"
    [expanded]="expandedPart()?.name === part.name"
    *ngFor="let part of currentProduct()?.parts"
    (opened)="onSelectPartConnector(part)"
    (closed)="onDeselectPartConnector(part)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ part.displayName ? part.displayName : part.name }}</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- part is collection -->
    <ng-container *ngIf="part.isCollection; else noCollection">
      <div class="parts-part-list" *ngIf="expandedPart()?.name === part.name">
        <div class="parts-part-list-list">
          <mat-list *ngIf="part.parts">
            <mat-list-item
              *ngFor="let partElement of part.parts"
              (click)="onSelectPartElement(partElement)"
              class="parts-part-list-list-item"
              [ngClass]="{ 'moryx-selected': selectedPart()?.id == partElement.id }"
            >
              {{
                editService.createProductNameWithIdentity(
                  partElement.product,
                  true,
                  30
                )
              }}
            </mat-list-item>
          </mat-list>
        </div>
        <div class="parts-part-list-details">
          <ng-container *ngIf="selectedPart(); else defaultView">
            <app-product-parts-details
              [partConnector]="part"
              [productPart]="selectedPart()!"
            >
            </app-product-parts-details>
          </ng-container>
          <ng-template #defaultView>
            <app-default-view></app-default-view>
          </ng-template>
        </div>
      </div>
    </ng-container>

    <!-- part is not a collection -->
    <ng-template #noCollection>
      <div *ngIf="expandedPart()?.name === part.name && selectedPart()">
        <app-product-parts-details
          [partConnector]="part"
          [productPart]="selectedPart()!"
        >
        </app-product-parts-details>
      </div>
    </ng-template>

    <mat-action-row>
      <ng-container *ngIf="part.isCollection; else actionsNoCollection">
        <button
          mat-button
          [disabled]="editService.edit === false || !selectedPart()"
          (click)="removePart()"
        >
          {{ TranslationConstants.PARTS.REMOVE | translate }}
        </button>
        <button
          mat-flat-button
          [disabled]="editService.edit === false"
          (click)="addPart()"
        >
          {{ TranslationConstants.PARTS.ADD | translate }}
        </button>
      </ng-container>

      <ng-template #actionsNoCollection>
        <button
          mat-button
          [disabled]="editService.edit === false || !selectedPart()"
          (click)="removePart()"
        >
          {{ TranslationConstants.PARTS.REMOVE | translate }}
        </button>
        <button
          mat-flat-button
          [disabled]="editService.edit === false"
          (click)="addPart()"
        >
          {{ TranslationConstants.PARTS.REPLACE | translate }}
        </button>
      </ng-template>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
