@if (currentProduct()?.parts?.length) {
  <mat-accordion class="parts">
    @for (part of currentProduct()?.parts; track part) {
      <mat-expansion-panel
        class="parts-part"
        [expanded]="expandedPart()?.name === part.name"
        (opened)="onSelectPartConnector(part)"
        (closed)="onDeselectPartConnector(part)"
        >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ part.displayName ? part.displayName : part.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- part is collection -->
        @if (part.isCollection) {
          @if (expandedPart()?.name === part.name) {
            <div class="parts-part-list">
              <div class="parts-part-list-list">
                @if (part.parts) {
                  <mat-list>
                    @for (partElement of part.parts; track partElement) {
                      <mat-list-item
                        (click)="onSelectPartElement(partElement)"
                        class="parts-part-list-list-item"
                        [ngClass]="{ 'moryx-selected': selectedPart()?.id == partElement.id }"
                        >
                        {{
                        editService.createProductNameWithIdentity(
                        partElement.product,
                        true,
                        30
                        )
                        }}
                      </mat-list-item>
                    }
                  </mat-list>
                }
              </div>
              <div class="parts-part-list-details">
                @if (selectedPart()) {
                  <app-product-parts-details
                    [partConnector]="part"
                    [productPart]="selectedPart()!"
                    >
                  </app-product-parts-details>
                } @else {
                  <app-default-view></app-default-view>
                }
              </div>
            </div>
          }
        } @else {
          @if (expandedPart()?.name === part.name && selectedPart()) {
            <div>
              <app-product-parts-details
                [partConnector]="part"
                [productPart]="selectedPart()!"
                >
              </app-product-parts-details>
            </div>
          }
        }
        <!-- part is not a collection -->
        <mat-action-row>
          @if (part.isCollection) {
            <button
              mat-button
              [disabled]="editService.edit === false || !selectedPart()"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="editService.edit === false"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.ADD | translate }}
            </button>
          } @else {
            <button
              mat-button
              [disabled]="editService.edit === false || !selectedPart()"
              (click)="removePart()"
              >
              {{ TranslationConstants.PARTS.REMOVE | translate }}
            </button>
            <button
              mat-flat-button
              [disabled]="editService.edit === false"
              (click)="addPart()"
              >
              {{ TranslationConstants.PARTS.REPLACE | translate }}
            </button>
          }
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
