@model Moryx.Identity.AccessManagement.Models.MoryxUserUpdateModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit @Model.UserName</h2>
<br />
<div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3">
    <div class="tw-col-span-1">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="tw-mb-4">
                <input asp-for="UserName" type="hidden" />
                <label asp-for="Email" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="tw-mb-4">
                <label asp-for="FirstName" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="tw-mb-4">
                <label asp-for="LastName" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="tw-mb-4">
                <label asp-for="PasswordResetToken" class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2"></label>
                <div class="input-group tw-relative">
                    <input asp-for="PasswordResetToken" class="form-control" readonly />
                    <i id="togglePassword" class="fa fa-eye tw-absolute tw-right-24 tw-top-3 tw-cursor-pointer"></i>
                    <button class="btn-primary tw-bg-success-700 hover:tw-bg-success-800" asp-controller="Users" asp-action="GenerateResetToken">
                        Generate
                    </button>
                </div>
                <span asp-validation-for="PasswordResetToken" class="text-danger"></span>
            </div>
            <div class="tw-mb-4">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var togglePassword = document.querySelector('#togglePassword');
    var password = document.querySelector('#PasswordResetToken');
    password.setAttribute('type', 'password');
    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}