<h1 mat-dialog-title>{{ TranslationConstants.APP.SELECT_INSTRUCTOR | translate }}</h1>
@if (instructors) {
  <div mat-dialog-content>
    <mat-selection-list #instructorList [multiple]="false">
      @for (instructor of instructors; track instructor) {
        <mat-list-option
          [value]="instructor"
          [selected]="instructor === data.instructorName"
          (click)="saveName(instructor)"
          [mat-dialog-close]="data">
          {{instructor}}
        </mat-list-option>
      }
    </mat-selection-list>
  </div>
} @else {
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
}

