<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Register Common Logging Section-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Common Logging Configuration -->
  <common>
    <logging>
      <!-- using log4net 2.0.8 as Logging tool -->
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH" />
        <!-- log4net as configured in a separate file -->
        <arg key="configFile" value="~/Config/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>