<h2 mat-dialog-title>
  {{
    operation.model.classification !== OperationStateClassification.Running &&
    operation.model.classification !== OperationStateClassification.Interrupting
      ? (TranslationConstants.BEGIN_DIALOG.TITLE | translate)
      : (TranslationConstants.CHANGE_AMOUNT_DIALOG.TITLE | translate)
  }}
</h2>

<mat-dialog-content>
  <div *ngIf="restrictions.length" class="restrictions">
    <ng-container *ngFor="let restriction of restrictions">
      <mat-card
        *ngIf="restriction.severity == 'Error'"
        class="error-restriction"
        appearance="outlined"
      >
        <mat-card-content> {{ restriction.text }}</mat-card-content>
      </mat-card>
      <mat-card
        *ngIf="restriction.severity == 'Warning'"
        class="warning-restriction"
        appearance="outlined"
      >
        <mat-card-content> {{ restriction.text }}</mat-card-content>
      </mat-card>
      <mat-card
        *ngIf="restriction.severity == 'Info'"
        class="info-restriction"
        appearance="outlined"
      >
        <mat-card-content> {{ restriction.text }}</mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <p>
    {{ TranslationConstants.BEGIN_DIALOG.ORDER | translate }}:
    {{ operation.model.order }} -
    {{ operation.model.number }}
  </p>
  <p>
    {{ TranslationConstants.BEGIN_DIALOG.PRODUCT | translate }}:
    {{ operation.model.productIdentifier }}-{{
      operation.model.productRevision | number : "2.0"
    }}
    {{ operation.model.productName }}
  </p>
  <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.TOTAL_AMOUNT | translate
          }}</b></label
        >
        <div>{{ operation.model.totalAmount }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.OVERDELIVERY | translate
          }}</b></label
        >
        <div [ngStyle]="{ color: overDeliveryReached() ? 'red' : 'black' }">
          {{ operation.model.overDeliveryAmount }} ({{ operation.overDelivery }}
          %)
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.UNDERDELIVERY | translate
          }}</b></label
        >
        <div [ngStyle]="{ color: underDeliveryReached() ? 'red' : 'black' }">
          {{ operation.model.underDeliveryAmount }} ({{
            operation.underDelivery
          }}
          %)
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.ESTIMATED | translate
          }}</b></label
        >
        <div>{{ currentPartialAmount }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.SUCCESS | translate
          }}</b></label
        >
        <div>{{ successCount }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content-data-entry">
        <label
          ><b>{{
            TranslationConstants.BEGIN_DIALOG.SCRAP | translate
          }}</b></label
        >
        <div>{{ scrapCount }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="multi-progress-container">
        <div
          class="bar success"
          [style.flex-basis.%]="successPercent()"
          matTooltip="{{
            TranslationConstants.OPERATIONS.SUCCESS | translate
          }}: {{ successPercent() | number : '1.1-1' }}%"
        ></div>
        <div
          class="bar scrap"
          [style.flex-basis.%]="scrapPercent()"
          matTooltip="{{
            TranslationConstants.OPERATIONS.SCRAP | translate
          }}: {{ scrapPercent() | number : '1.1-1' }}%"
        ></div>
        <div
          class="bar partial"
          [style.flex-basis.%]="partialPercent()"
          matTooltip="{{
            TranslationConstants.OPERATIONS.PARTIAL | translate
          }}: {{ partialPercent() | number : '1.1-1' }}%"
        ></div>
        <div
          class="bar residual"
          [style.flex-basis.%]="residualPercent()"
          matTooltip="{{
            TranslationConstants.OPERATIONS.RESIDUAL | translate
          }}: {{ residualPercent() | number : '1.1-1' }}%"
        ></div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-form-field appearance="outline">
    <mat-label>{{
      TranslationConstants.BEGIN_DIALOG.PARTIAL_AMOUNT | translate
    }}</mat-label>
    <input
      matInput
      type="number"
      [formControl]="targetAmountControl"
      (blur)="limitTargetAmount()"
    />
    <button
      mat-icon-button
      type="button"
      matPrefix
      [disabled]="hasMinimalValue()"
      (click)="setMinTargetAmount()"
      class="min-amount-button"
    >
      <span class="material-symbols-outlined">align_justify_flex_start</span>
    </button>
    <button
      mat-button
      type="button"
      matSuffix
      mat-stroked-button
      [disabled]="hasMinimalValue()"
      color="primary"
      (click)="changeTargetAmount(-10)"
      class="content-calculation-button"
    >
      -10
    </button>
    <button
      mat-button
      type="button"
      matSuffix
      mat-stroked-button
      [disabled]="hasMinimalValue()"
      color="primary"
      (click)="changeTargetAmount(-1)"
      class="content-calculation-button"
    >
      -1
    </button>
    <button
      mat-button
      type="button"
      matSuffix
      mat-stroked-button
      [disabled]="!canBegin"
      color="primary"
      (click)="changeTargetAmount(1)"
      class="content-calculation-button"
    >
      +1
    </button>
    <button
      mat-button
      type="button"
      matSuffix
      mat-stroked-button
      [disabled]="!canBegin"
      color="primary"
      (click)="changeTargetAmount(10)"
      class="content-calculation-button"
    >
      +10
    </button>
    <mat-hint *ngIf="hasMinimalValue()">
      {{
        TranslationConstants.CHANGE_AMOUNT_DIALOG.CANNOT_REDUCE_TARGET_AMOUNT
          | translate
      }}
    </mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="providesOperatorSelection" appearance="outline">
    <mat-label>{{
      TranslationConstants.BEGIN_DIALOG.OPERATOR_SELECTION_LABEL | translate
    }}</mat-label>
    <input
      type="text"
      placeholder="{{
        TranslationConstants.BEGIN_DIALOG.OPERATOR_SELECTION_PLACEHOLDER
          | translate
      }}"
      aria-label="Operator"
      matInput
      [formControl]="operatorFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (operator of filteredOperators | async; track operator) {
      <mat-option [value]="operator.identifier"
        >{{ operator.pseudonym ?? "-" }} ({{ operator.identifier }})</mat-option
      >
      }
    </mat-autocomplete>
    <mat-error *ngIf="operatorFormControl.hasError('failed')">{{
      operatorFormControl.getError("failed")
    }}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined" color="primary">
    {{ TranslationConstants.CANCEL | translate }}
  </button>
  <button mat-flat-button (click)="closeDialog()" color="primary">
    {{
      operation.model.classification !== OperationStateClassification.Running &&
      operation.model.classification !== OperationStateClassification.Interrupting
        ? (TranslationConstants.BEGIN_DIALOG.BEGIN | translate)
        : (TranslationConstants.CHANGE_AMOUNT_DIALOG.UPDATE_AMOUNT | translate)
    }}
  </button>
</div>
