@use "../dialog-styles.scss";

.data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px 0;
  margin-top: 8px;
}

.content-data-entry {
  font-size: 16px;
}

.progress-bar-entry {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 8px;
}

.content-calculation-button {
  margin: 1px 4px;
}

.restrictions {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.min-amount-button {
  border-radius: 100%;
}

::ng-deep .mat-mdc-form-field-infix {
  width: 128px !important;
}

::ng-deep .mat-mdc-form-field-icon-prefix {
  padding: 4px !important;

  .mdc-button {
    padding: 4px;
  }
}

mat-card {
  width: 100%;
}

.error-restriction {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.warning-restriction {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}

.info-restriction {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

/* Hide the spinner for number inputs in all browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

