@use "@moryx/ngx-web-framework/styles/variables" as *;
@use 'sass:map';

.multi-progress-container {
  display: flex;
  width: 100%;
  height: 8px;
  margin-top: 8px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.bar {
  height: 100%;
  transition: flex-basis 0.3s ease-in-out;
}

$progress-colors: (
  success: $success,
  scrap: #e9545d,
  running: #99cbce,
  pending: #cfd8dc,
  residual: #ffa726,
);

.success {
  background-color: map.get($progress-colors, success);
}

.scrap {
  background-color: map.get($progress-colors, scrap);
}

.partial {
  background-color: map.get($progress-colors, pending);
}

.residual {
  background-color: map.get($progress-colors, residual);
}

.content-data-entry {
    position: absolute;
    left: 0px;
    font-size: 16px;
}

.content-calculation-button {
   margin: 1px 4px;
}

.restrictions {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.min-amount-button {
    border-radius: 100%;
}
::ng-deep .mat-mdc-form-field-infix {
    width: 128px !important;
}
::ng-deep .mat-mdc-form-field-icon-prefix {
    padding: 4px !important;
    .mdc-button {
        padding: 4px;
    }
}

mat-card {
    width: 100%;
}

.error-restriction {
    background-color: $warn-dark;
    color: $mat-background
}

.warning-restriction {
    background-color: $warning;
    color: $mat-background
}

.info-restriction {
    background-color: $info;
    color: $mat-background
}

/* Hide the spinner for number inputs in all browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
