@use "@moryx/ngx-web-framework/styles/theme" as *;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

html, body { height: 100%; font-family: Roboto;}
body { margin: 0; overflow: hidden;
    background-color: var(--mat-sys-surface);
}