@use "@moryx/ngx-web-framework/styles/theme.scss" as *;
@use "@angular/material" as mat;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}
