@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<form method="post" asp-action="AddRole" asp-controller="Roles">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" placeholder="Role name" aria-label="Role name">
        <div class="input-group-append">
            <button class="btn btn-outline-info"><i class="fa fa-plus"></i> Add New Role</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered" id="roleTable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Id</th>
            <th style="width:10%">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Id</td>
                <td class="text-right">
                    @if (role.Name != Roles.SuperAdmin)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>

                            <div class="dropdown-menu shadow">

                                <a class="dropdown-item" asp-controller="Roles" asp-action="Delete" asp-route-roleId="@role.Id"><i class="fa fa-trash"></i> Delete</a>

                                <a style='margin-right: 16px' asp-controller="RolePermissions" asp-action="Index" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fa fa-wrench"></i> Manage Permissions
                                </a>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>