@use '@angular/material' as mat;

:host{
    background-color: var(--mat-sys-surface);
}

.main-content{
    @include mat.expansion-overrides((
        container-background-color: var(--mat-sys-surface-container-lowest),
      ));
}

.secondary-button{
    background-color: var(--mat-sys-surface-container-lowest);
}
