<h2 mat-dialog-title class="dialog-title">
  {{ TranslationConstants.REPORT_DIALOG.REPORT_TITLE | translate }}
</h2>

<mat-dialog-content class="dialog-container">
  <app-dialog-context class="full-width dialog-context" [operationModel]="data.operation.model"></app-dialog-context>

  <div class="report-dialog-amounts-row">
    <div class="amounts-data-entry">
      <span><b>{{ TranslationConstants.REPORT_DIALOG.AMOUNT | translate }}</b></span>
      <div>{{ data.operation.model.totalAmount }}</div>
    </div>
    <div class="amounts-data-entry">
      <span><b>{{ TranslationConstants.REPORT_DIALOG.OVERDELIVERY | translate }}</b></span>
      <div>{{ data.operation.model.overDeliveryAmount }} ({{ data.operation.overDelivery }} %)</div>
    </div>
    <div class="amounts-data-entry">
      <span><b>{{ TranslationConstants.REPORT_DIALOG.UNDERDELIVERY | translate }}</b></span>
      <div>{{ data.operation.model.underDeliveryAmount }} ({{ data.operation.underDelivery }} %)</div>
    </div>
  </div>

  @if (reportContext(); as context) {
    <div class="report-dialog-form-row">
      <mat-form-field appearance="outline" class="interrupt-dialog-report-success-count">
        <mat-label>{{ TranslationConstants.REPORT_DIALOG.SUCCESS | translate }}</mat-label>
        <input matInput [(ngModel)]="success" [disabled]="isLoading()" cdkFocusInitial/>
        <mat-hint align="start">
          {{ TranslationConstants.REPORT_DIALOG.REPORTED | translate }}: {{ context.reportedSuccess }}
        </mat-hint>
        <mat-hint align="end">
          {{ TranslationConstants.REPORT_DIALOG.ESTIMATED | translate }}: {{ estimatedSuccess() }}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="interrupt-dialog-report-failure-count">
        <mat-label>{{ TranslationConstants.REPORT_DIALOG.SCRAP | translate }}</mat-label>
        <input matInput [(ngModel)]="scrap" [disabled]="isLoading()"/>
        <mat-hint align="start">
          {{ TranslationConstants.REPORT_DIALOG.REPORTED | translate }}: {{ context.reportedFailure }}
        </mat-hint>
        <mat-hint align="end">
          {{ TranslationConstants.REPORT_DIALOG.ESTIMATED | translate }}: {{ estimatedFailure() }}
        </mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width top-spaced" subscriptSizing="dynamic">
      <mat-label>{{ TranslationConstants.REPORT_DIALOG.COMMENT | translate }}</mat-label>
      <textarea matInput [(ngModel)]="comment" [disabled]="isLoading()"></textarea>
    </mat-form-field>

    <app-operator-selector class="full-width top-spaced" [isEnabled]="canReport()"
      [(selectedOperatorId)]="selectedOperatorId" (creatingOperatorFailed)="creatingOperatorFailed.set($event)"/>

    <h3 class="radio-group-header">{{ TranslationConstants.REPORT_DIALOG.CONFIRMATION | translate }}</h3>
    <mat-radio-group class="radio-group" aria-label="Select an report option" [(ngModel)]="confirmationType">
      <mat-radio-button [disabled]="!context.canPartial || isLoading()" value="partial">
        {{ TranslationConstants.REPORT_DIALOG.PARTIAL | translate }}
      </mat-radio-button>
      <mat-radio-button [disabled]="!context.canFinal || isLoading()" value="final">
        {{ TranslationConstants.REPORT_DIALOG.FINAL | translate }}
      </mat-radio-button>
    </mat-radio-group>

    @if (context.restrictions?.length) {
      <mat-list class="restriction-list">
        @for (restriction of context.restrictions; track restriction) {
          <mat-list-item>
            <mat-icon matListItemIcon>
              {{ restriction.severity === 'Error' ? 'error' : restriction.severity === 'Warning' ? 'warning' : 'info' }}
            </mat-icon>
            <div matListItemTitle class="restriction-text">
              {{ restriction.text }}
            </div>
          </mat-list-item>
        }
      </mat-list>
    }
  }
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" type="button">
    {{ TranslationConstants.CANCEL | translate }}
  </button>
  <button mat-flat-button (click)="submit()" [disabled]="!canReport() && !isLoading()" type="button">
    {{ TranslationConstants.REPORT_DIALOG.REPORT | translate }}
  </button>
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</div>
