
:host {
    height: 100%;
    overflow-y: auto !important;
}

.acknowledgements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.acknowledgement-item {
    border: 1px solid rgba(119, 119, 119, 0.25);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 425px;
}

.acknowledgement-description {
    font-size: 14px;
}

.acknowledgements-empty {
    width: 250;
    height: 250;
}