<div class="tw:h-full tw:overflow-y-auto tw:bg-gray-50">
  <div class="tw:absolute tw:bottom-2 tw:right-2 tw:z-100">
    <div
      class="tw:flex tw:flex-col tw:justify-center tw:items-center tw:gap-1"
      >
      <div>
        <a
          mat-mini-fab
          [matTooltip]="
            TranslationConstants.OPERATORS_MANAGEMENT.MANAGE_OPERATORS | translate
          "
          matTooltipPosition="left"
          routerLink="/management"
          class="management-button"
          >
          <mat-icon>manage_accounts</mat-icon>
        </a>
      </div>
      <button mat-fab (click)="addOperator()">
        <mat-icon>
          <mat-icon>add</mat-icon>
        </mat-icon>
      </button>
    </div>
  </div>
  @if (!workstations().length) {
    <empty-state
      [header]="TranslationConstants.WORKSTATION_OPERATORS.EMPTY_TITLE | translate"
    [message]="
      TranslationConstants.WORKSTATION_OPERATORS.EMPTY_MESSAGE | translate
    "
    ></empty-state>
  }

  @if (!isCardExpanded()) {
    <div class="tw:gap-4 tw:m-2 tw:grid tw:grid-cols-2 tw:auto-rows-auto tw:pb-8">
      <!-- station card -->
      @for (station of workstations(); track station) {
        <div class="tw:w-full tw:h-96 tw:bg-white tw:border tw:border-gray-200 tw:flex tw:flex-col tw:rounded-sm"
          >
          <!-- card header -->
          <div class="tw:flex tw:flex-row tw:justify-between tw:items-center tw:border-b tw:border-gray-200 tw:px-2 tw:py-1">
            <span class="text-xl font-medium">{{ station.data.name }}</span>
            <button
              mat-icon-button
              aria-label="expand station card"
              [matTooltip]="
                TranslationConstants.WORKSTATION_OPERATORS.EXPAND | translate
              "
              (click)="toggleWorkstationCard(station)"
              >
              <mat-icon>fullscreen</mat-icon>
            </button>
          </div>
          <!-- card body -->
          <div class="tw:w-full tw:h-full tw:overflow-y-auto tw:p-2" role="main">
            <app-operators [workstation]="station" mainContainerStyle="" />
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="tw:flex tw:justify-between tw:items-center  tw:bg-white tw:px-2 tw:py-1 tw:border-b tw:border-gray-200">
      <div class="tw:flex tw:items-center tw:gap-2">
        <button
          mat-icon-button
          aria-label="Go back"
          [matTooltip]="
            TranslationConstants.WORKSTATION_OPERATORS.GO_BACK | translate
          "
          (click)="toggleWorkstationCard(workstationTogglingState()?.station)"
          >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="tw:text-xl tw:font-medium">{{
          workstationTogglingState()?.station?.data?.name
        }}</span>
      </div>
      <div class="tw:flex tw:items-center tw:gap-1">
        <!-- TODO: get the total -->
        <span class="tw:font-medium tw:text-lg">1</span>
        <mat-icon>person</mat-icon>
      </div>
    </div>
    <div class="tw:grid tw:grid-cols-4 tw:auto-rows-auto tw:p-2">
      <app-operators
        [workstation]="workstationTogglingState()?.station!"
        mainContainerStyle=""
        />
    </div>
  }

  <!-- expanded card -->

</div>