@use "@moryx/ngx-web-framework/styles/theme" as *; 
/* You can add global styles to this file, and also import other style files */
@import "./app.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch{
    border-right: 0px !important;
}
