@if(!disabled){
  <div
    class="tw-relative tw-rounded-md hover:tw-border-primary-400 md:tw-w-96"
    [id]="id"
    >
    <input
      type="text"
      class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-pl-7 tw-pr-20 tw-text-gray-900 tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-400 focus:tw-outline-0 sm:tw-text-sm sm:tw-leading-6"
      [placeholder]="placeholder"
      (keyup)="searchKeyUp($event)"
      />
    @if(suggestions.length){
      <ul
        class="tw-absolute tw-flex tw-flex-col tw-h-ful tw-shadow-md tw-bg-white tw-border-1 tw-border-gray-200 tw-rounded tw-w-full tw-p-2"
        >
        @for (suggestion of suggestions; track suggestion) {
          <li
            class="tw-p-2 tw-m-1 hover:tw-bg-primary-200 hover:tw-rounded tw-cursor-pointer"
            >
            @if (suggestion.url) {
              <a
                class="tw-flex tw-flex-col"
                [href]="suggestion.url"
                >
                <span class="tw-font-semibold">{{ suggestion.text }}</span>
                <span class="tw-font-thin tw-text-sm">{{ suggestion.url }}</span>
              </a>
            }
            @if(!suggestion.url){
              <span class="tw-font-semibold">{{ suggestion.text }}</span>
            }
          </li>
        }
      </ul>
    }

    <button
      class="tw-absolute tw-right-2 tw-top-2 tw-text-primary-400"
      (click)="search()"
      >
      <span class="material-symbols-outlined">search</span>
    </button>
  </div>
}
