@if(!disabled()){
  <mat-form-field appearance="outline" subscriptSizing="dynamic" [id]="id">
    <input matInput [placeholder]="placeholder()" (keyup)="searchKeyUp($event)" />
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  @if(suggestions.length){
    <ul class="suggestions-list">
      @for (suggestion of suggestions; track suggestion) {
        <li class="suggestion-item">
          @if (suggestion.url) {
            <a class="suggestion-link" [href]="suggestion.url">
              <span class="suggestion-text">{{ suggestion.text }}</span>
              <span class="suggestion-url">{{ suggestion.url }}</span>
            </a>
          }
          @if(!suggestion.url){
            <span class="suggestion-text">{{ suggestion.text }}</span>
          }
        </li>
      }
    </ul>
  }
}
