---
layout: home
---

<div class="bd-masthead mb-3" id="content"> 
  <div class="container-xxl bd-gutter"> 
    <div class="col-md-8 mx-auto text-center">
      <p align="center">
          <br />
          <br />
          <img src="assets/images/MORYX_logo.svg" alt="MORYX Logo" width="400px" />
      </p>

      <h1 class="display-2 headline" align="center">Level up your factory</h1>
      <br />

      <h1 class="lead mb-4">
        The MORYX Framework is a .NET based framework to quickly build three-tier applications. 
        <br/> 
        It aims to reduce boilerplate code as much as possible and provides modularity, flexibility and easy configuration with very little effort.
      </h1>
    </div>
    <div class="col-md-8 mx-auto">

{{ content }}

    </div>
  </div>
</div>