.login-validation {
    color: red;
    padding-bottom: 5px;
    padding-left: 2px;
}

.login-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 64px;
    height: 100%;
}

.welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    color: green;
    font-size: xxx-large;
    transform: translate(-50%, -50%);
    line-height: normal;
    text-align: center;
}

.sign-in {
    color: var(--primary);
}

.hide {
    display: none;
}
