@use "@moryx/ngx-web-framework/styles/variables" as *;

.loading-bar {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.container {
    height: 100%;
}

.sidenav {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.sidebar {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.toolbar {
    width: 100%;
    height: fit-content;
    color: var(--mat-sys-surface-container-lowest) !important;

    .mat-mdc-button-base {
        color: var(--mat-sys-surface-container-lowest) !important;
    }
}

.toolbar-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.document-list {
    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--mat-sys-surface-container-lowest);
    padding: 0 !important;
    --mat-list-active-indicator-color: #{$primary};
    --mat-list-active-indicator-shape: 0;
}

.document-list-item {
    cursor: pointer;
    height: fit-content !important;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.document-viewer {
    flex: 1 1 auto;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document-image {
    max-height: 100%;
    max-width: 100%;
}

.document-pdf {
    height: 100%;
    width: 100%;
}
