
:host{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.operation-source {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}