.amounts-list {
    min-width: 450px;
}
.amounts-data-entry {
    position: absolute;
    left: 0px;
    font-size: 16px;
}

mat-form-field {
    margin-bottom: 8px;
}

.interrupt-dialog-comment {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.interrupt-dialog-report-success-count {
    width: 100%;
    margin-right: 4px;
}

.interrupt-dialog-report-failure-count {
    width: 100%;
    margin-left: 4px;
}

.interrupt-dialog-title {
    margin-left: -5px;
}