<h2 mat-dialog-title>
    Container Links
</h2>

<mat-dialog-content class="mat-typography reason-input">
    <section class="reason-input">
        <mat-form-field floatLabel="always" class="full-width" appearance="outline">
            <mat-label>Operator</mat-label>
            <mat-select placeholder="Reason for pre-advice">
                <mat-option value="reason"></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="full-width" appearance="outline">
            <mat-label>Order</mat-label>
            <mat-select placeholder="Reason for pre-advice">
                <mat-option value="reason"></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="full-width" appearance="outline">
            <mat-label>Product</mat-label>
            <mat-select placeholder="Reason for pre-advice">
                <mat-option value="reason"></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="full-width" appearance="outline">
            <mat-label>Constraint Message</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p>Constraint Inputs</p>
        <!-- TODO <navigable-entry-editor /> -->
    </section>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" type="button" cdkFocusInitial class="transform-to-uppercase">
        Cancel
    </button>
    <button mat-button type="button" class="transform-to-uppercase">
        Done
    </button>
</mat-dialog-actions>