<mat-tree [dataSource]="resources()" [childrenAccessor]="childrenAccessor">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="10"
    (click)="onNodeClick(node.id)"
    (contextmenu)="onContextMenu($event, node.id)"
    class="tree-item"
    [class.selected]="selected()?.id === node.id"
    [class.italic]="!(node.name && node.name.trim())">
    <button mat-icon-button title="Disabled toggle" disabled></button>
    {{ (node.name && node.name.trim()) ? node.name : TranslationConstants.APP.NO_NAME | translate }}
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    #treeNode="matTreeNode"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="10"
    (click)="onNodeClick(node.id)"
    (contextmenu)="onContextMenu($event, node.id)"
    class="tree-item"
    [class.selected]="selected()?.id === node.id"
    [class.italic]="!(node.name && node.name.trim())">
    <button
      mat-icon-button
      matTreeNodeToggle
      type="button"
      [attr.aria-label]="'Toggle ' + node.name"
      (click)="onExpandOrCollapseNode(node)">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeNode.isExpanded ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ (node.name && node.name.trim()) ? node.name : TranslationConstants.APP.NO_NAME | translate }}
  </mat-tree-node>
</mat-tree>
