@use "@moryx/ngx-web-framework/styles/variables" as *;

@use '@angular/material' as mat;
:host {
  flex: 1 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--mat-sys-surface-container-lowest);
  padding-bottom: 48px;
  touch-action: auto;
  display: block;
  @include mat.tree-overrides((
    node-min-height: 40px,
    container-background-color: var(--mat-sys-surface-container-lowest),
  ));
}

.tree-item {
  cursor: pointer !important;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;

  &:hover {
    background-color: var(--mat-sys-surface-container-highest);
  }

  &.selected {
    background-color: $primary;
  }

  &.italic {
    font-style: italic;
  }
}
