<mat-nav-list>
  @for (moduleItem of moduleItems(); track moduleItem.route) {
    <div class="nav-item-wrapper">
      <a mat-list-item [href]="moduleItem.route" [title]="moduleItem.description">
        <mat-icon matListItemIcon>{{ moduleItem.icon }}</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>{{ moduleItem.title }}</span>
        }
      </a>
      @if (asWeb(moduleItem); as webItem) {
        <app-notification-badge [eventStream]="webItem.eventStream ?? ''"></app-notification-badge>
      }
    </div>
  } @empty {
    <mat-list-item>No items.</mat-list-item>
  }
</mat-nav-list>
