<mat-nav-list>
  @for (moduleItem of moduleItems(); track moduleItem.route) {
    <a mat-list-item [href]="moduleItem.route" [title]="moduleItem.description">
      <span matListItemIcon style="position: relative">
        <mat-icon>{{ moduleItem.icon }}</mat-icon>
        @if (asWeb(moduleItem); as webItem) {
          <app-notification-badge [eventStream]="webItem.eventStream ?? ''"></app-notification-badge>
        }
      </span>
      @if (!collapsed()) {
        <span matListItemTitle>{{ moduleItem.title }}</span>
      }
    </a>
  } @empty {
    <mat-list-item>No items.</mat-list-item>
  }
</mat-nav-list>
