@use "@moryx/ngx-web-framework/styles/variables" as *;

.add-dashboard{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    mat-form-field{
        margin-top: 5px;
    }
}