@use "@moryx/ngx-web-framework/styles/variables" as *;

:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.configuration {
  z-index: 1;
  top: 16px;
  right: 16px;
  position: absolute;
}

.worker-support-instructions {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
